Source: gbt
Section: utils
Priority: extra
Maintainer: Jiri Tyr <jiri.tyr@gmail.com>
Standards-Version: 4.1.1
Homepage: https://github.com/jtyr/gbt

Package: gbt
Architecture: any
Description: Highly configurable prompt builder for Bash and ZSH written in Go
